  <ion-content class="menu-content">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/k-tabs/beranda"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <ion-icon name="person-outline"></ion-icon> Profile
      </ion-title>
    </ion-toolbar>
    <!-- Logo -->
    <div class="logo-container">
      <img src="assets/image/logo100.png" alt="Logo" class="logo">
      <p>Hello Kasir !</p>
      <ion-button expand="full" (click)="logout()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </div>
    <!-- Logout Button -->
  </ion-content>
